h1 {
    color: #ed7ba6;
    text-align: center
}
h3 {
    color: #da6692;
    text-align: left
}

p {
    color: #bd2d61; 
}

table {
    border: 2px solid grey;
    border-collapse: collapse; 
    width: 40%;
}

th, td {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #edbee8;
}

td {
    background-color: mistyrose;
}

#top {
    background-color: mistyrose;
    margin: 30px;
    padding: 20px;
    border: 3px dotted lightblue;
    font-family: Helvetica, sans-serif;
}

#middle {
    background-color: #bec0e8;
    margin: 30px;
    padding: 20px;
    border: 3px dotted lightblue;
    font-family: Helvetica, sans-serif;
}

#bottom {
    background-color: mistyrose;
    margin: 30px;
    padding: 20px;
    border: 3px dotted lightcyan;
    font-family: Helvetica, sans-serif;
}

.name {
    font-weight: bold;
}
